<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jni.getbatterylevel</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jni/arch_share/virt_machine/jni_ext/write_battery_level</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jni/arch_share/virt_machine/jni_ext/write_battery_level.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jni/arch_share/virt_machine/jni_ext/write_battery_level.err</string>
</dict>
</plist>
